<!--<app-proj-example [rating]=3 (starClicked)="onStarClicked($event)"></app-proj-example>-->
<!--<app-proj-example [rating]=4.5></app-proj-example>-->
<!--<app-proj-example [rating]=5></app-proj-example>-->
<!--<app-proj-example [rating]=1.5></app-proj-example>-->
<!--<app-proj-example></app-proj-example>-->
<app-header></app-header>

<!--<div class="row">-->
<!--  <div class="col-md-2">-->
<!--    منومنومنومنومنومنومنومنومنومنو-->
<!--  </div>-->
<!--  <div class="col-md-6" #VirtualtTeamtable>-->
<!--    <app-show-table></app-show-table>-->
<!--  </div>-->
<!--  <div class="col-md-4">-->
<!--    <img src="../assets/img/real02.jpg">-->
<!--  </div>-->
<!--</div>-->
<router-outlet></router-outlet>
