<!--<app-add-account></app-add-account>-->
<!--<ul>-->
  <!--<li *ngFor="let a of accounts">-->
    <!--{{a.name + "&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;" + a.password}}-->
  <!--</li>-->
<!--</ul>-->
<!--<app-proj-example [rating]=3 (starClicked)="onStarClicked($event)"></app-proj-example>-->
<!--<app-proj-example [rating]=4.5></app-proj-example>-->
<!--<app-proj-example [rating]=5></app-proj-example>-->
<!--<app-proj-example [rating]=1.5></app-proj-example>-->
<!--<app-proj-example></app-proj-example>-->

<!--<app-add-user (onAddUserClicked)="userAdded($event)"></app-add-user>-->
<!--<app-show-user-table [users]="users"></app-show-user-table>-->

<router-outlet></router-outlet>
