<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid" style="font-family: 'B Nazanin'; font-size: 1.5rem">
  <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
    <i class='far fa-futbol' style="font-size:48px;color:red"></i>
    <label>ورود به سایت هوادار</label>
    <div class="form-group">
      <label for="email">ایمیل / نام کاربری</label>
      <input formControlName="email" type="email" class="form-control" id="email" ngModel name="email" placeholder="ایمیل / نام کاربری" required>
    </div>
    <div class="form-group">
      <label for="pass">پسورد</label>
      <input formControlName="pass" type="password" class="form-control" id="pass" ngModel name="pass" placeholder="پسورد" required>
    </div>
<!--    <div class="form-group">-->
<!--      <label for="rePass">تائید پسورد</label>-->
<!--      <input type="password" class="form-control" id="rePass" ngModel name="rePass" placeholder="تائید پسورد">-->
<!--    </div>    -->
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check" required>
        <label class="form-check-label" for="check">...  من روبات نیستم!</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">ورود</button>
    <br>
    <br>
  </form>
</div>
