<!--Reactive Form-->


<div style="width: 50%" class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <div class="reactiveForm">
      <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">

        <!--    <div formGroupName="info">-->
        <div class="form-group">
          <label for="username">نام کاربری: </label>
          <input formControlName="username" type="text" class="form-control" id="username">
          <span class="alert alert-danger"
                *ngIf="!inputForm.get('username').valid && inputForm.get('username').touched && isSubmitted">
          Please enter a valid username
        </span>
        </div>

        <div class="form-group">
          <label for="email">ایمیل: </label>
          <input formControlName="email" type="text" class="form-control" id="email">
          <span class="alert alert-danger"
                *ngIf="!inputForm.get('email').valid && inputForm.get('email').touched && isSubmitted">
          Please enter a valid email
          </span>
        </div>
        <!--    </div>-->

        <!--RadioButton Start-->
        <h1>جنسیت: </h1>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input formControlName="gender" type="radio" name="gender" ngModel [value]="gender">
            {{ gender }}
          </label>
        </div> <!--Gender RadioButton End-->

        <h1>شغل: </h1>
        <div class="radio" *ngFor="let job of jobs">
          <label>
            <input formControlName="job" type="radio" name="job" ngModel [value]="job">
            {{ job }}
          </label>
        </div> <!--Job RadioButton End-->

        <div class="dropboxClass">
          <h1>دراپ باکس با جستجو</h1>
          <p-dropdown formControlName="country"
                      [options]="countries"
                      name="country"
                      [(ngModel)]="selectedCountry"
                      optionLabel="name"
                      [filter]="true"
                      [showClear]="true"
                      placeholder="کشوری را انتخاب کنید..."
                      (onChange)="onChange($event)">
                <option style="text-align: center; width: 200px" *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                <span class="alert alert-danger"
                      *ngIf="!inputForm.get('country').valid && inputForm.get('country').touched">
                  Please select a country!!
                </span>
          </p-dropdown>
        </div>
        <br><br>

        <div formArrayName="colors">
          <h4>Enter your colors</h4>
          <button class="btn btn-primary" type="button" (click)="onAddColorsClick()">Add colors</button>
          <div class="form-group" *ngFor="let colorControl of myColors.controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>

        <!--<div radioControlValueAccessor="withdraw">-->
          <!--<h4>Enter your right of withdraw</h4>-->
          <!--<button class="btn btn-primary" type="button" (click)="onAddWhithdrawClick()">Add Radio</button>-->
            <!--<div class="form-group" *ngFor="let rightWithdraw of myWithdraw.controls; let i = index">-->
              <!--<label>-->
                <!--<input type="radio" class="radio" [label]="kk">-->
                  <!--{{ kk }}-->
              <!--</label>-->
            <!--</div>-->
        <!--</div>-->

        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <span class="alert alert-danger" *ngIf="!inputForm.valid && inputForm.touched && isSubmitted">
                please enter valid data
          </span>
        </div>

      </form>
    </div>

    <br><br><br>

  </div>
</div>
